Flask==3.1.0
Jinja2==3.1.2
cryptography==41.0.7
nltk==3.8.1
pandas==2.2.3
Pillow==11.0.0
protobuf==5.29.1
tiktoken==0.7.0
tornado==6.4
jsonschema==4.17.3
evaluate>=0.4.0
datasets>=2.14.0
squall>=0.1.0
